@font-face {
    font-family: Montserrat-bold;
    src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: Montserrat-light;
    src: url('../fonts/Montserrat-Light.ttf');
}
body {
    background-color: #303940;
    margin: 0;
    height: 100vh;
}
.footer {
    position:absolute;
    bottom: 0;
}
body img {
    width: 100%;
}
img.left {
    width: 80%;
}
img.right {
    width: 80%;
    position: absolute;
    top:0;
    right: 5%;

}

body .fullsize {
    padding: 0;
    overflow: hidden;
    position: relative;
    min-height: 100vh; }
body  .zegar {
    position: absolute;
    bottom: 25vh;
    margin: auto;
    left: 0;
    right: 0; }
body .zegar p {
    color:white;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat-bold';
}

body .flipTimer .days,body .flipTimer .hours, body .flipTimer .minutes {
    position: relative;
}
body .flipTimer .days:after,body .flipTimer .hours:after,body .flipTimer .minutes:after {
    content: 'Dni';
    position: absolute;
    bottom: -60px;
    font-weight: 100;
    font-size: 24px;
    text-transform: uppercase;
    left: 0;
    font-family: 'Montserrat-light';
    width: 100%;
}
body .flipTimer .hours:after{
    content: 'godzin';
}
body .flipTimer .minutes:after{
    content: 'minut';

}


body .flipTimer .digit > div {
    height: 49%; }
body .flipTimer .digit-set {
    margin: 0 7px; }
body .digit-set:before {
    content: '';
    position: absolute;
    left: -5px;
    height: 12px;
    border-left: 2px solid #fd8582;
    margin: auto;
    top: 0;
    bottom: 0; }
body .digit-set:after {
    content: '';
    position: absolute;
    right: -7px;
    height: 12px;
    border-left: 2px solid #fd8582;
    margin: auto;
    top: 0;
    bottom: 0; }
body .flipTimer .digit > div.digit-top, body .flipTimer .digit > div.shadow-top {
    background-color: transparent; }
body .flipTimer .digit > div.digit-bottom:before, body .flipTimer .digit > div.shadow-bottom:before {
    box-shadow: none; }
body .flipTimer .digit > div.digit-top:before, body .flipTimer .digit > div.shadow-top:before {
    box-shadow: none; }
body .flipTimer .digit > div.shadow-bottom {
    background: transparent; }
body .days .digit-set:first-child {
    box-shadow: none;
    border: none; }
body .days .digit-set:first-child .digit > div.digit-bottom {
    box-shadow: none;
    border: none;
    background-color: red;
    background-image: url("../img/zegar/1-2.png"); }
body .days .digit-set:first-child .digit > div.digit-top {
    box-shadow: none;
    border: none;
    background-image: url("../img/zegar/1-1.png"); }
body .days .digit-set:nth-child(2) {
    box-shadow: none;
    border: none; }
body .days .digit-set:nth-child(2) .digit > div.digit-bottom {
    box-shadow: none;
    border: none;
    background-color: red;
    background-image: url("../img/zegar/2-2.png"); }
body .days .digit-set:nth-child(2) .digit > div.digit-top {
    box-shadow: none;
    border: none;
    background-image: url("../img/zegar/2-1.png"); }
body .hours .digit-set:first-child {
    box-shadow: none;
    border: none; }
body .hours .digit-set:first-child .digit > div.digit-bottom {
    box-shadow: none;
    border: none;
    background-color: red;
    background-image: url("../img/zegar/3-2.png"); }
body .hours .digit-set:first-child .digit > div.digit-top {
    box-shadow: none;
    border: none;
    background-image: url("../img/zegar/3-1.png"); }
body .hours .digit-set:nth-child(2) {
    box-shadow: none;
    border: none; }
body .hours .digit-set:nth-child(2) .digit > div.digit-bottom {
    box-shadow: none;
    border: none;
    background-color: red;
    background-image: url("../img/zegar/4-2.png"); }
body .hours .digit-set:nth-child(2) .digit > div.digit-top {
    box-shadow: none;
    border: none;
    background-image: url("../img/zegar/4-1.png"); }
body .minutes .digit-set:first-child {
    box-shadow: none;
    border: none; }
body .minutes .digit-set:first-child .digit > div.digit-bottom {
    box-shadow: none;
    border: none;
    background-color: red;
    background-image: url("../img/zegar/5-2.png"); }
body .minutes .digit-set:first-child .digit > div.digit-top {
    box-shadow: none;
    border: none;
    background-image: url("../img/zegar/5-1.png"); }
body .minutes .digit-set:nth-child(2) {
    box-shadow: none;
    border: none; }
body .minutes .digit-set:nth-child(2) .digit > div.digit-bottom {
    box-shadow: none;
    border: none;
    background-color: red;
    background-image: url("../img/zegar/6-2.png"); }
body .minutes .digit-set:nth-child(2) .digit > div.digit-top {
    box-shadow: none;
    border: none;
    background-image: url("../img/zegar/6-1.png"); }
body .seconds .digit-set:first-child {
    box-shadow: none;
    border: none; }
body .seconds .digit-set:first-child .digit > div.digit-bottom {
    box-shadow: none;
    border: none;
    background-color: red;
    background-image: url("../img/zegar/5-2.png"); }
body .seconds .digit-set:first-child .digit > div.digit-top {
    box-shadow: none;
    border: none;
    background-image: url("../img/zegar/5-1.png"); }
body .seconds .digit-set:nth-child(2) {
    box-shadow: none;
    border: none; }
body .seconds .digit-set:nth-child(2) .digit > div.digit-bottom {
    box-shadow: none;
    border: none;
    background-color: red;
    background-image: url("../img/zegar/6-2.png"); }
body .seconds .digit-set:nth-child(2) .digit > div.digit-top {
    box-shadow: none;
    border: none;
    background-image: url("../img/zegar/6-1.png"); }


body {
    .form-wrapper {
        display: flex;
        justify-content: center;
        text-align: center;

        label {
            color: white;
            font-size: 22px;
            font-weight: bold;
            text-transform: uppercase;
            font-family: "Montserrat-bold";
        }   
        button {
            margin-top: 15px;
            text-transform: uppercase;
            font-family: "Montserrat-bold";
            font-size: 30px;
            color:#fff;
            font-weight: bold;
            background-color: #f86796;
            border:none;
            &:active, &:focus, &:hover {
                border:none;
                outline: none;
            }
        }
        p {
            margin-top: 15px;
            font-size: 16px;
            font-weight: 100;
            text-transform: none;
            a {
                color: #f86796;
            }
        }
        .input-wrapper {
            background-image: url('../img/bg-color.png');
            background-repeat: no-repeat;
            background-size: cover;
            padding: 8px;
            input {
                padding: 20px 30px;
                width: 100%;
                text-transform: uppercase;
                background-color: #fff;
                color:#dfdfdf;
                font-size: 25px;
                text-align: center;
                border:none;
                &:active, &:focus, &:hover {
                    border:none;
                    outline: none;
                }
            }
        }
    }
}
.live-section {
    .left-kolo {
        position: absolute;
        top:-80px;
        left: 2%;
        background-image: url('../img/live/kolo-gora.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 200px;
        height: 200px;
    }
    .right-kolo {
        position: absolute;
        top:0px;
        right: 0;
        background-image: url('../img/live/right_kolo.png');
        background-repeat: no-repeat;
        width: 250px;
        background-size: contain;
        background-position: right;
        height: 60%;
    }
    .middle-kolo {
        position: absolute;
        top:10%;
        left: 50%;
        background-image: url('../img/live/obrecz_gora.png');
        background-repeat: no-repeat;
        width: 200px;
        height: 200px;
        background-size: contain;
    }
    .little-kolo {
        position: absolute;
        top:15%;
        left: 10%;
        background-image: url('../img/live/obrecz_gora.png');
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        background-size: contain;
    }
    .bottom-kolo {
        position: absolute;
        left: 0;
        bottom: 0;
        background-image: url('../img/live/left-bg.png');
        background-repeat: no-repeat;
        width: 500px;
        height: 500px;

        background-size: contain;
    }
    .piramida{
        position: absolute;
        right: 25%;
        bottom: 0;
        background-image: url('../img/live/piramida_bottom.png');
        background-repeat: no-repeat;
        width: 200px;
        background-size: contain;
        height: 177px;
    }
    .rainbow-line {
        position: absolute;
        background-size: contain;
        bottom: 30%;
        right: 10%;
        background-image: url('../img/live/rainbow-line.png');
        background-repeat: no-repeat;
        width: 250px;
        height: 40px;
    }
}

@media only screen and (max-width: 991px) {
    .left-container {
        position: relative;
        z-index: -1;
        top: -10px;
    }
    body img {
        width: 100%;
    }
    body {
        height: auto;
    }
    .right-container img {
        opacity: 0.3; }
    .footer {
        position: initial;
    }
    img.right {
        position: initial;
    }
    body  .zegar {
        bottom: 36vh; 
        position: initial;
        padding-bottom: 100px;
    } }
@media only screen and (max-width: 576px) {

    .flipTimer {
        display: flex;
        justify-content: center;
        font-size: 40px;
        line-height: 47px;
        height: 44px;
    }
    .flipTimer .digit-set {
        width: 40px;
    }

    .flipTimer .hours {
        /*margin: 30px 0;*/
    } }
@media only screen and (min-width: 1000px) and (max-height:750px) {
    img.left {
        width: 65vh;
    }
    img.right {
        width: 65vh;

    } 
}


