.footer-banner{
    position: absolute;
    bottom: 0px;
    z-index: -1;
    @media only screen and (max-height: 550px){
        position: static;
    }
}
.img-fluid{
    width: 100%;
}
body{
    background: #004198;
    min-height: 100%;
    height: 100%;
}
#video-iframe{
    @media only screen and (min-width: 601px){
        position: absolute;
    }
    @media only screen and (max-width: 600px){
        position: static;
        margin-bottom: 50px;
    }
}
#chat-iframe{
    @media only screen and (max-width: 600px){
        margin-top: 25px;
    }
}

 .custom-input { 
    text-align: center; 
    background: lighten(#004198, 4);
    border-width: 2px;
    color: white;
    &:focus{
        background: transparent;
        color: white;
        background: lighten(#004198, 8);
        transition: 0.5s;
    }
}
.md-mt--3{
    @media only screen and (min-width: 600px){
        margin-top: -30px;
    }
}
.dancer{
    @media only screen and (max-width: 600px){
        display: none;
    }
    position:relative;
    z-index: 1000000;
    left: -70px;
    top: -60px;
    height:auto;
    width: 90px;
}
.btn-custom-yellow{ 
    background: #fed224;
    border-color: darken(#fed224, 2);
    color: white;
    font-weight: bold;
    letter-spacing: 1.3px;
    &:hover{
        -webkit-box-shadow: 0px 0px 20px -5px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 20px -5px rgba(255,255,255,1);
        box-shadow: 0px 0px 20px -5px rgba(255,255,255,1);
    }
}