#video-iframe{
    @media only screen and (min-width: 601px){
        position: absolute;
    }
    @media only screen and (max-width: 600px){
        position: static;
        margin-bottom: 50px;
    }
}
#chat-iframe{
    @media only screen and (max-width: 600px){
        margin-top: 25px;
    }
}
.btn-custom {
    color:#fff;
    background-color: #4FABFE;
    border:1px solid #4FABFE;
    &:hover {
        color:#4FABFE;
        background-color: #fff;

    }
}
.section-form {
    min-height: 30vh;
    margin-top: 20px;
}

main {
    min-height: 100vh;
    font-family: sans-serif;
}

.header img {
    max-height: 40vh;
}
.footer {

    max-height: 30vh;
}
.footer img {
    margin-bottom: -4px;
}
img {
    width: 100%;
    height: auto;
}
body {
    margin: 0;
}
.counter {
    width: 100%;
    text-align: center;
    margin-top: 70px;

}
#countDown {
    padding: 10px 20px;
    border: 1px solid #94c0e5;
    display: inline;
    background-color: #f4f7fa;
    font-size: 30px;
    font-weight: bold;
}
.content {
    line-height: 2;
    min-height: 30vh;
}
a {
    color:#212529;
}

.live-section {
    background: url('../img/bg.jpg');
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
}



@media only screen and (max-height: 700px) and (max-width: 1400px) and (min-width: 768px) {

    .footer {
        position:initial;
        margin-top:20px;
    }
    .header img {
        max-height:initial ;
    }


}


.video-container {
    padding:56.25% 0 0 0;
    position:relative; 
    width: 100%; 
    height: auto;
    max-width: 100%;
}
.chat-container {
    max-width: 400px;
    height: 600px;
}

@media only screen and (max-width: 767px) {
    .chat-container {

        max-width: initial;
    }
    #countDown {
        font-size: 20px;
    }
}